
*,
*::before,
*::after {
  box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

 
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
}


ul, ol {
  list-style: none;
  padding: 0;
}


a {
  text-decoration: none;
  color: inherit;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}


input, button, textarea, select {
  font: inherit;
}


button {
  background: none;
  border: none;
  cursor: pointer;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}