*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

input, button, textarea, select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ======================
   Boutton Rouge - 
====================== */
.redbtn {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: red;
  color: white;
  padding: 0.1rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 0.1rem;
}

.header {
  background-color: white;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
}

.header__img {
  width: 200px;
  padding: 1rem;
  position: absolute;
  top: 2em;
  left: 0.7rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header__button {
  width: 6.25rem;
  background-color: rgb(237, 51, 51);
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  position: absolute;
  left: 1.8rem;
  bottom: 1rem;
}

.header__button--burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__button--burger > div {
  width: 25px;
  height: 2px;
  background: white;
}

.header__nav {
  display: none;
}

.header__loop {
  display: none;
}

@media (min-width: 980px) {
  .header__img {
    width: 18.75rem;
    left: 4rem;
  }
  .header__button {
    display: none;
  }
  .header__navloop {
    display: flex;
    justify-content: center;
  }
  .header__nav {
    display: flex;
    font-weight: 500;
    font-size: 1.2rem;
    position: absolute;
    left: 5rem;
    bottom: 1rem;
  }
  .header__nav nav > a {
    padding: 0.3rem;
  }
  .header__nav nav > a:hover {
    color: red;
    transition: 0.3 all ease-in-out;
  }
  .header__loop {
    display: block;
    position: absolute;
    right: 4rem;
    bottom: 1rem;
  }
}
/* ======================
   SECTION 1 - 
====================== */
.section1__cards {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.card__img {
  width: 100vw;
  height: 60vh;
}

.card__img > img {
  width: 100%;
  height: 100%;
}

.card__text {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: white;
  text-align: left;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__text--cliquable--title h2 {
  font-size: 1.8rem;
  font-weight: 400;
  transition: 0.3s all ease-in-out;
}

.card__text--cliquable--title h2:hover {
  color: red;
}

.card__text--cliquable--date {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.3 all ease-in-out;
  font-size: 1.2rem;
}

.card__text--cliquable--date:hover {
  color: red;
}

@media (min-width: 980px) {
  .section1__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 100vw;
    height: 100vh;
  }
}
/* ======================
   SECTION 2 - 
====================== */
.section2 {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.section2__large {
  grid-column: span 3;
}

.section2__small {
  grid-column: span 1;
}/*# sourceMappingURL=styles.css.map */